<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shopex.ecshopx.orders.mapper.StatementsMapper">
	<select id="sumStatementFee" resultType="java.lang.Long">
		SELECT COALESCE(SUM(statement_fee), 0) FROM statements ${ew.customSqlSegment}
	</select>
</mapper>
